.form{
    margin: 1rem auto;
    width: 30rem;
    height: 30rem;
    padding: 1rem;
    border-radius: 10px;
    /* background-color: rgb(193, 202, 200); */
    background-image: url('https://1.bp.blogspot.com/-xl2h7RUjvoI/X_lLt0-8myI/AAAAAAABC_Y/VVEa4pLOK5QbXq_FD1_mF4-mgAhRzhUnwCLcBGAsYHQ/w0/motorcycle_motorcyclist_bike_194998_2560x1440.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content{
    padding: 0.5rem;
}

label{
    color: rgba(0, 0, 0, 0.76);
    
}
.content input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    margin: 0.5rem;
    opacity: 0.5;
}

.content select{
    width: 100%;
    padding: 0.5rem;
    margin: 00.5rem;
    border-radius: 8px;
    border: none;
    opacity: 0.5;
}

.actions{
    margin: 0.7rem;
    text-align: right;
}

.actions button{
    padding: 0.5rem;
    width: 25%;
    border-radius: 8px;
    border: none;
    background-color: rgb(16, 121, 56);
    color:white;
    cursor: pointer;  
}

.actions button:hover,
.actions button:active{
    background-color: rgb(167, 57, 57);
}